<h2>商品新規登録</h2>

<%= form_with model: @item, url: admin_items_path(@item.id) do |f| %>

  <div>
    <span>商品画像</span>
    <span><%= f.file_field :item_image, accept: "image/*" %></span>
  </div>

  <div>
    <span>商品名</span>
    <span><%= f.text_field :name %></span>
  </div>

  <div>
    <span>商品説明</span>
    <span><%= f.text_area :introduction %></span>
  </div>

  <div>
    <span>ジャンル</span>
    <span><%= f.collection_select(:genre_id, @genres, :id, :name) %></span>
  </div><!--collection_select(:保存したいカラム, :モデル, :カラム, :表示するカラム)-->

  <div>
    <span>税抜価格</span>
    <span><%= f.text_field :price %></span>
  </div>

  <div>
    <span>販売ステータス</span>
    <span><%= f.radio_button :is_active, :true %>販売中</span>
    <span><%= f.radio_button :is_active, :false %>販売停止中</span>
  </div>

  <div>
    <%= f.submit "新規登録" %>
  </div>

<% end %>