<h2>注文情報入力</h2>

<%= form_with model: @order, url: orders_order_check_path, method: :post do |f| %>
  <div>
    <h3><strong>支払方法</strong></h3>
    <div>
      <%= f.radio_button :payment, "credit_card" %><%= f.label :payment_credit_card, "クレジットカード" %><br>
      <%= f.radio_button :payment, "transfer" %><%= f.label :payment_transfer, "銀行振込" %>
    </div>
  </div>
  <div>
    <h3><strong>お届け先</strong></h3>
    <div>
      <%= f.radio_button :select_address, "0" %><%= f.label :select_address_0, "ご自身の住所" %>
      <p>〒<%= current_customer.postal_code %><%= current_customer.address %><br>
      <%= current_customer.last_name %><%= current_customer.first_name %></p>
    </div>
    <div>
      <%= f.radio_button :select_address, "1" %><%= f.label :select_address_1, "登録済住所から選択" %>
      <p><%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %></p>
    </div>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　<!-- :渡す値, :表示する値-->
    <div>
      <%= f.radio_button :select_address, "2" %><%= f.label :select_address_2, "新しいお届け先" %>
      <p>郵便番号(ハイフンなし)<%= f.text_field :shipping_postal_code %></p>
      <p>住所<%= f.text_field :shipping_address %></p>
      <p>宛名<%= f.text_field :shipping_name %></p>
    </div>
  </div>
  <div>
    <%= f.submit "確認画面に進む", class: "btn btn-primary" %>
  </div>
<% end %>