<h2>注文履歴詳細</h2>

<div>
  <h3>注文情報</h3>
  <div>
    <span>注文日</span>
    <span><%= @order.created_at %></span>
  </div>
   <div>
    <span>配送先</span>
    <span>
      <%= @order.shipping_postal_code %><br>
      <%= @order.shipping_address %><br>
      <%= @order.shipping_name %>
    </span>
  </div>
   <div>
    <span>支払方法</span>
    <span><%= @order.payment %></span>
  </div>
   <div>
    <span>ステータス</span>
    <span><%= @order.is_receive %></span>
  </div>
</div>

<div>
  <h3>請求情報</h3>
  <div>
    <span>商品合計</span>
    <span></span>
  </div>
  <div>
    <span>配送料</span>
    <span></span>
  </div>
  <div>
    <span>ご請求額</span>
    <span></span>
  </div>
</div>

<div>
  <h3>注文内容</h3>
  <table>
    <thead>
      <tr>
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>