<div>
  <%= image_tag @item.item_image %>
</div>

<div>
  <%= @item.name %>
  <%= @item.introduction %>
  <%= @item.price %>(税込)
  <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <span><%= f.select :amount, *[1..10] %></span>
    <span><%= f.submit "カートに入れる" %></span>
  <% end %>
</div>
